<h2>Mathematic Meme</h2>
<p>
  This is a Math Meme, below is just a dummy text
</p>

<p>
  Mathematics is widely used in science for modeling phenomena. This enables the extraction of quantitative predictions from experimental laws. For example, the movement of planets can be predicted with high accuracy using Newton's law of gravitation
  combined with mathematical computation. The independence of mathematical truth from any experimentation implies that the accuracy of such predictions depends only on the adequacy of the model for describing the reality. So when some inaccurate
  predictions arise, it means that the model must be improved or changed, not that the mathematics is wrong.
</p>