<h2>Welcome to The Daily Meme page</h2>
<p>
  In the daily meme page you can select the meme that You enjoy most by clicking on the links above. The text below was just taken from Wikipedia, I linked it in the footer.
</p>

<p>
  What is a meme? well Wikipedia explains well what a meme is: A meme is an idea, behavior, or style that spreads by means of imitation from person to person within a culture and often carries symbolic meaning representing a particular phenomenon or
  theme. A meme acts as a unit for carrying cultural ideas, symbols, or practices, that can be transmitted from one mind to another through writing, speech, gestures, rituals, or other imitable phenomena with a mimicked theme. Supporters of the
  concept regard memes as cultural analogues to genes in that they self-replicate, mutate, and respond to selective pressures.
</p>