<ul>
  <li><a href='/'>Home</a></li>
  <li><a href='/contact'>Contact</a></li>
  <li><a href='/lectures'>Lectures</a></li>
  <li><a href='/marks'>Makrs</a></li>
</ul>
{{! no style was needed based on requirements, thus didn't add styling }}